// main heading colours
$primary-color: #d12026;
$secondary-color: #00d8ff;
$third-color: #ffcd00;
$bg-color: #0e0e0e;

body {
    background: $bg-color;
    color: white;
    font-family: 'Montserrat', sans-serif;

}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

button {
    background: none;
    color: white;
    border: 1px solid white;
}

h1 {
        color: $primary-color;
        font-size: 72px;
        text-align: center;
        margin: 25px auto;
        width: 70%;
        opacity: 0.9;
    }   
h4 {
    font-size: 50px;
}

section {
    width: 100%;
    margin: 100px 0;
}