.about-me{
    display: flex;
    .profile-pic {
        margin-left: 100px;
        img {
            width: 70%;
            border: 3px solid white;
        }
        figcaption {
            font-size: 10px;
        }
    }
    .bio {
        padding: 0 25px;
        h4 {
            margin: 25px 0;
        }
    }
}

@media (max-width:960px) {
    .about-me {
        width: 90%;
        .bio h4 {
            margin:0 0 25px 0;
        }
    }
}

@media (max-width:720px) {
    .about-me {
        flex-direction: column;
        text-align: center;
        .profile-pic {
            margin: 0 auto;
        }
        .bio h4 {
            margin: 25px 0;
        }
    }
}

@media (max-width:540px) {
    .about-me {
        grid-template-columns: 1fr;
    }
}


