.about-me{
    display: flex;
    .profile-pic {
        margin-left: 100px;
        img {
            width: 70%;
            border: 3px solid white;
        }
    }
    .bio {
        padding: 0 25px;
        h4 {
            margin: 25px 0;
        }
    }
}

@media (max-width:720px) {
    .about-me {
        flex-direction: column;
        text-align: center;
        .profile-pic {
            margin: 0 auto;
        }
    }
}

@media (max-width:540px) {
    .about-me {
        grid-template-columns: 1fr;
    }
}


