
.projects-section{
    background: url('../images/pattern-dots-vertical.png')no-repeat;
}
.projects {
    position: relative;
    h4 {
            text-align: center;
        }
    .projects-container {
        margin: 50px 0;
        .project-item {
            width: 100%;
            display: flex;
            margin: 100px 0; 
        }
        .project-img {
            padding: 25px 0;
            text-align: center;
            img {
                width: 100%;
                margin: 30px 0;            
        }
            a {
                padding: 10px 20px;
                border: 2px solid white;
            }
        }
        .project-info {
            margin: 0 50px;
            padding: 25px;

        }
        h3 {
            font-size: 30px;
            text-align: center;
        }
        
        .project-alt {
            flex-direction: row-reverse;
        }
        .project-code li{
            display: inline;
            font-size: 20px;
            border-right: 2px solid white;
            padding: 0 20px;
        }
        .project-code li:first-child {
            border-left: 2px solid white;
        }
    }
    #squiggle {
        top: 20px;
        right: 150px;
    }
}

.stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    h3 {
        font-size:48px;
    }
    h5 {
        font-size: 20px;
    }
    .stat1{
        color: #2246e8;
    }
    .stat2{
        color: $third-color;
    }
    .stat3{
        color: $primary-color;
    }
    .stat4{
        color: $secondary-color;
    }
}
@media (max-width:960px) {
    .projects-container{
        .project-item{
            flex-direction: column;
            .project-img {
                width: 75%;
                margin: 0 auto;
            }
            .project-info {
                text-align: center;
            }
        }  
    }
    .projects .projects-container .project-alt {
        flex-direction: column;
    }
}

@media (max-width:720px) {

        .projects .projects-container .project-info {
            margin: 0 25px;
        }
}

@media (max-width: 540px) {
    .projects .projects-container .project-info {
            margin: 0px;
        }
}